:root {
    --Blue: hsl(246, 80%, 60%);
    --Brown: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%) ;
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --White: hsl(0, 0%, 100%);
}

* {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
    font-size: 18px;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--Very-dark-blue);
    color: var(--White);
}

main {
    position: relative;
    top: 8.5rem;
}

main, .top-row, .bottom-row {
    display: flex;
}

.reports {
    display: flex;
    flex-direction: column;
}

.report-card {
    background-color: var(--Dark-blue);
    border-radius: 20px;
    width: 320px;
    margin-right: 2rem;
}

.report-card .top {
    background-color: var(--Blue);
    border-radius: 20px;
    padding: 3rem;
}

.report-card .top .profile {
    margin-bottom: 2rem;
}

.profile img {
    width: 80px;
    border: 3px solid;
    border-radius: 50%;
}

.top .info p {
    color: var(--Pale-Blue);
    margin-bottom: 10px;
}

.top .info h1 {
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.top .info h1.mobile {
    display: none;
}

.report-card .bottom {
    padding: 3rem;
}

.report-card .bottom .disabled {
    color: var(--Desaturated-blue);
}

.report-card .bottom .disabled:hover {
    color: var(--White);
    cursor: pointer;
}

.report-card .bottom p {
    margin-bottom: 1rem;
}

.card {
    width: 320px;
    height: 320px;
    border-radius: 20px;
    margin-right: 2rem;
}

.work {
    height: 90px;
    background-color: var(--Dark-blue);
}

.card-img {
    background-color: var(--Brown);
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.card-img img {
    position: relative;
    left: 12rem;
}

.card .content {
    position: relative;
    bottom: 2rem;
    z-index: 2;
    background-color: var(--Dark-blue);
    border-radius: 20px;
    padding: 2rem;
}

.card .content:hover {
    background-color: hsl(235, 29%, 55%);
}

.content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.content .header h4 {
    font-weight: 400;
}

.info h1.hrs {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.info p.last-week {
    color: var(--Pale-Blue);
}

.play .card-img {
    background-color: var(--Soft-blue);
}

.study .card-img {
    background-color: var(--Light-red);
}

.exercise .card-img {
    height: 100px;
    background-color: var(--Lime-green);
}

.social .card-img {
    background-color: var(--Violet);
}

.self-care .card-img {
    height: 100px;
    background-color: var(--Soft-orange);
}


@media screen and (max-width: 375px) {

    html {
        display: block;
    }

    main {
        top: 3rem;
        left: 1.5rem;
    }

    main, .top-row, .bottom-row {
        flex-direction: column;
    }

    .report-card {
        margin-bottom: 2rem;
    }

    .report-card .top {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 1rem 0 1rem;
    }

    .report-card .top h1 {
        font-size: 2rem;
        display: none;
    }

    .report-card .top h1.mobile {
        display: block;
        font-size: 1.2rem;
    }

    .profile img {
        width: 50px;
    }

    .report-card .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem .5rem 1rem;
    }

    .card {
        height: 100px;
        margin-bottom: 6rem;
    }

    .card .content {
        display: flex;
        flex-direction: column;
    }

    .content .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5rem;
    }

    .content .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info h1.hrs {
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 0;
    }

    .info p.last-week {
        color: var(--Pale-Blue);
        font-size: .5rem;
    }

    .social {
        margin-top: 1rem;
    }

    .self-care {
        margin-top: 1rem;
        margin-bottom: 10rem;
    }
}